Fontes/SitePortal/SitePortal/SitePortal/Service References/WCFIntegracaoPortal/IntegracaoPortal1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Menu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Menu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ListaMenuResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Menus" nillable="true" type="tns:ArrayOfMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaMenuResponse" nillable="true" type="tns:ListaMenuResponse" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuId" type="xs:int" />
      <xs:element minOccurs="0" name="MenuPaiId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MenuTipoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Rotulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
</xs:schema>