Fontes/SitePortal/SitePortal/SitePortal/Service References/WCFIntegracaoPortal/IntegracaoPortal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59176/IntegracaoPortal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.Menu" />
  <xs:element name="GetTestService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuTipoId" type="xs:int" />
        <xs:element minOccurs="0" name="MenuPaiId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO.Menu" minOccurs="0" name="ListarMenuResult" nillable="true" type="q1:ListaMenuResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>